Repository AlexWayfer/gem_generator: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  bundle-audit_script: bundle audit check --update

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: bundle exec rubocop

Update `toys` in template
  template/gem_name.gemspec.erb
Due: none

Update dependencies
  package.json
  template/gem_name.gemspec.erb
  template/package.json
Due: remark

Update development dependencies of template
  template/gem_name.gemspec.erb
Due: none

Update development dependency of template
  template/gem_name.gemspec.erb
Due: none

Rename `master` git branch to `main`
  .cirrus.yaml
  CHANGELOG.md
  README.md
  template/.cirrus.yaml
  template/CHANGELOG.md
  template/README.md.erb
Due: remark, bundle-audit, rubocop

Add Ruby 3.0 for CI in template
  template/.cirrus.yaml
Due: none

Replace `toys rspec` with `bundle exec rspec` in template README
  template/README.md.erb
Due: none

Collapse a line of template README
  template/README.md.erb
Due: none

Add required runtime dependency
  gem_generator.gemspec
Due: bundle-audit, rubocop

Small code style improvement
  lib/gem_generator/command.rb
Due: rubocop

Process cases without config file
  lib/gem_generator/render_variables.rb
Due: rubocop

Update `gem_toys` in template
  template/gem_name.gemspec.erb
Due: none

Move `SimpleCov.start` after SimpleCov configuration
  template/spec/spec_helper.rb.erb
Due: none

Add `template` parameter, take out default template
  lib/gem_generator/command.rb
  template/.cirrus.yaml
  template/.editorconfig.erb
  template/.gitignore
  template/.remarkrc.yaml
  template/.rspec
  template/.rubocop.yml.erb
  template/.toys.rb.erb
  template/CHANGELOG.md
  template/Gemfile
  template/LICENSE.txt
  template/README.md.erb
  template/gem_name.gemspec.erb
  template/lib/gem_path.rb.erb
  template/lib/gem_path/version.rb.erb
  template/package.json
  template/spec/gem_path/version_spec.rb.erb
  template/spec/spec_helper.rb.erb
Due: remark, rubocop

Add specs
  .rspec
  .rubocop.yml
  gem_generator.gemspec
  lib/gem_generator/command.rb
  lib/gem_generator/render_variables.rb
  spec/gem_generator/command_spec.rb
  spec/spec_helper.rb
  spec/support/example_template/.editorconfig.erb
  spec/support/example_template/CHANGELOG.md
  spec/support/example_template/README.md.erb
  spec/support/example_template/gem_name.gemspec.erb
  spec/support/example_template/lib/gem_path.rb.erb
  spec/support/example_template/lib/gem_path/version.rb.erb
  spec/support/example_template/spec/gem_path/version_spec.rb.erb
  spec/support/example_template/spec/spec_helper.rb.erb
Due: remark, bundle-audit, rubocop

Remove pause for reading the hint about description
  lib/gem_generator/command.rb
Due: rubocop

Add RSpec CI task
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Add GitHub artifacts for RuboCop CI task
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Suppress Bundle warnings in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Replace Codecov Ruby uploader with the new one
  .cirrus.yaml
  gem_generator.gemspec
  spec/spec_helper.rb
  spec/support/example_template/spec/spec_helper.rb.erb
Due: remark, bundle-audit, rubocop

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  gem_generator.gemspec
  spec/support/example_template/gem_name.gemspec.erb
Due: remark, bundle-audit, rubocop

Add `--dir` option for Codecov Uploader
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Add `cobertura` format for Codecov in CI
  .cirrus.yaml
  gem_generator.gemspec
  spec/spec_helper.rb
Due: remark, bundle-audit, rubocop

Remove `--format=doc` option for RSpec
  .rspec
Due: none

Make `module_name` render helper method public
  lib/gem_generator/render_variables.rb
Due: rubocop

Add specs for rendered indentation
  spec/gem_generator/command_spec.rb
Due: rubocop

Update template file instead of creating a new one
  lib/gem_generator/command.rb
  spec/gem_generator/command_spec.rb
  spec/support/example_template/bin/console.erb
Due: rubocop

Add version constant
  gem_generator.gemspec
  lib/gem_generator/version.rb
Due: bundle-audit, rubocop

Path conditions:
  remark: any of: .cirrus.yaml, package.json, .remarkrc.yaml, **.md
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: any of: .cirrus.yaml, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru
