Repository AlexWayfer/gem_generator: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

env:
  ## To suppress flood of warnings:
  ## https://github.com/cirruslabs/cirrus-ci-docs/issues/814
  ## https://github.com/rubygems/rubygems/issues/4466#issuecomment-818688569
  ## Global for:
  ## 1. different tasks (rubocop, test, etc.);
  ## 2. avoiding overriding `env` in specific cases like macOS.
  TMPDIR: $CIRRUS_WORKING_DIR

remark_task:
  container:
    image: node

  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json

  install_script: npm install

  lint_script: npm run remark

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', 'package.json', '.remarkrc.yaml', '**.md'
    )

bundle-audit_task:
  container:
    image: ruby

  <<: *bundle_cache

  audit_script: bundle exec bundle-audit check --update

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', '*.gemspec'
    )

rubocop_task:
  container:
    image: ruby

  <<: *bundle_cache

  lint_script: bundle exec rubocop

  always:
    rubocop_artifacts:
      path: rubocop.json
      type: text/json
      format: rubocop

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - bundle-audit
    - rubocop

  container:
    matrix:
      - image: ruby:2.5
      - image: ruby:2.6
      - image: ruby:2.7
      - image: ruby:3.0

  <<: *bundle_cache

  test_script: bundle exec rspec --format=json --out=rspec.json

  env:
    CODECOV_TOKEN: ENCRYPTED[1ea90ca007d7a15046d2fd91cb16b85c475603e27341f847c0b7fb063e9b273a49c3f7230ce57940d6fa0f169f5d39fd]

  codecov_script:
    - curl -Os https://uploader.codecov.io/latest/linux/codecov
    - chmod +x codecov
    - ./codecov -t ${CODECOV_TOKEN}

  always:
    rspec_artifacts:
      path: rspec.json
      type: text/json
      format: rspec

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Prepare to `toys gem` commands
  CHANGELOG.md
  lib/gem_generator/version.rb
Due: remark, rubocop, rspec

Update version to 0.1.0
  CHANGELOG.md
  lib/gem_generator/version.rb
Due: remark, rubocop, rspec

Remove Codecov token from Cirrus CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Disable GitHub artifacts for RSpec
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Add `--git` option
  gem_generator.gemspec
  lib/gem_generator/command.rb
  lib/gem_generator/render_variables.rb
  spec/gem_generator/command_spec.rb
  spec/spec_helper.rb
  spec/support/example_template/CHANGELOG.md
Due: remark, bundle-audit, rubocop, rspec

Add instructions about templates to README
  README.md
Due: remark

Remove docs badge from README
  README.md
Due: remark

Improve usage documentation in README
  README.md
Due: remark

Add `author_name_string`
  README.md
  lib/gem_generator/render_variables.rb
  spec/gem_generator/command_spec.rb
  spec/support/example_template/gem_name.gemspec.erb
Due: remark, rubocop, rspec

Improve `changesInclude` for Cirrus CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Update version to 0.3.0
  CHANGELOG.md
  lib/gem_generator/version.rb
Due: remark, rubocop, rspec

Speed up tests about `--git` option
  spec/gem_generator/command_spec.rb
Due: rubocop, rspec

Add Cirrus CI cache for Codecov uploader
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Download `codecov` via `curl` quietly in Cirrus CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Move `codecov` binary into sub-directory for Cirrus CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Try to fix Bundler issues
  lib/gem_generator/command.rb
Due: rubocop, rspec

Take out Command methods for template files processing
  lib/gem_generator/command.rb
  lib/gem_generator/command/process_files.rb
  lib/gem_generator/command/process_files/render_variables.rb
  lib/gem_generator/render_variables.rb
Due: rubocop, rspec

Update version to 0.4.0
  CHANGELOG.md
  lib/gem_generator/version.rb
Due: remark, rubocop, rspec

Require runtime depepndencies
  gem_generator.gemspec
  lib/gem_generator/command.rb
Due: bundle-audit, rubocop, rspec

Update version to 0.3.2
  CHANGELOG.md
  lib/gem_generator/version.rb
Due: remark, rubocop, rspec

Remove old attrs moved to `RenderVariables`
  lib/gem_generator/command.rb
Due: rubocop, rspec

Return default for `RSpec/ExampleLength` cop
  .rubocop.yml
  spec/gem_generator/command_spec.rb
Due: rubocop, rspec

Take out base to `project_generator`
  gem_generator.gemspec
  lib/gem_generator/command.rb
  lib/gem_generator/command/process_files.rb
  lib/gem_generator/command/process_files/render_variables.rb
Due: bundle-audit, rubocop, rspec

Speed up tests about `--git` option even more
  spec/gem_generator/command_spec.rb
Due: rubocop, rspec

Update `project_generator` to version 0.2.0
  gem_generator.gemspec
  lib/gem_generator/command.rb
Due: bundle-audit, rubocop, rspec

Enable `rubygems_mfa_required`
  gem_generator.gemspec
Due: bundle-audit, rubocop, rspec

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Disable new offense from RuboCop
  spec/gem_generator/command_spec.rb
Due: rubocop, rspec

Remove fixed RuboCop disabling
  spec/gem_generator/command_spec.rb
Due: rubocop, rspec

Update `project_generator` to a new version
  gem_generator.gemspec
Due: bundle-audit, rubocop, rspec
