Repository AlexWayfer/gem_generator: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  audit_script: bundle exec bundle-audit check --update

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  lint_script: bundle exec rubocop
  always:
    rubocop_artifacts:
      path: rubocop.json
  ...

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - bundle-audit
  - rubocop
  container:
    matrix:
    - image: ruby:2.6
    - image: ruby:2.7
  ...

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  gem_generator.gemspec
Due: remark, bundle-audit, rubocop, rspec

Update toys dependencies
  Gemfile
Due: bundle-audit, rubocop, rspec

Allow Bundler v4 as runtime dependency
  gem_generator.gemspec
Due: bundle-audit, rubocop, rspec

Replace `Readline` with `Reline`
  lib/gem_generator/command.rb
  spec/gem_generator/command_spec.rb
Due: rubocop, rspec

Add Ruby 4.0 support
  .cirrus.yaml
  gem_generator.gemspec
Due: remark, bundle-audit, rubocop, rspec

Update RuboCop and its plugins
  Gemfile
  spec/gem_generator/command_spec.rb
Due: bundle-audit, rubocop, rspec

Update version to 1.0.0
  CHANGELOG.md
  lib/gem_generator/version.rb
Due: remark, rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yaml, package.json, .remarkrc.yaml, **.md
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yaml, .gitignore, Gemfile, .rspec, *.gemspec, lib/**, spec/**
