Repository AlexWayfer/gem_generator: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  lint_script: toys rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

Replace custom `rspec` and `rubocop` toys tools with built-in ones
  .toys.rb
  template/.toys.rb
Due: rubocop

Make link to LICENSE file from README badge relative
  README.md
  template/README.md.erb
Due: remark

Fix `.cirrus.yaml` file name after file rename
  .cirrus.yaml
  template/.cirrus.yaml
Due: none

Update dependencies
  gem_generator.gemspec
  template/gem_name.gemspec.erb
Due: rubocop

Improve version Regexp in specs, support pre-releases
  template/spec/gem_path/version_spec.rb.erb
Due: none

Improve required Ruby version lock, avoid 3.0
  gem_generator.gemspec
  template/gem_name.gemspec.erb
Due: rubocop

Drop `rspec` and `rubocop` toys, just use `bundle exec`
  .cirrus.yaml
  .toys.rb
  template/.cirrus.yaml
  template/.toys.rb
Due: rubocop

Add missing `remark` config for gem itself
  .remarkrc.yaml
Due: remark

Update `remark` to new major version
  package.json
  template/.remarkrc.yaml
  template/package.json
Due: remark

Ignore files for all RuboCop cops ignored by git
  .rubocop.yml
  template/.rubocop.yml
Due: rubocop

Update `rubocop` and `rubocop-rspec`
  gem_generator.gemspec
  template/gem_name.gemspec.erb
Due: rubocop

Add `bundle-audit` CI task
  .cirrus.yaml
  gem_generator.gemspec
  template/.cirrus.yaml
  template/gem_name.gemspec.erb
Due: rubocop

Update `gem_toys` to a new version
  gem_generator.gemspec
  template/gem_name.gemspec.erb
Due: rubocop

Add `toys console` tool into template
  template/.toys.rb
  template/.toys.rb.erb
Due: rubocop

Populate `metadata` in `gemspec`
  lib/gem_generator/command.rb
  template/README.md.erb
  template/gem_name.gemspec.erb
  template/spec/gem_path/version_spec.rb.erb
Due: rubocop

Add the `--namespace` option for repository's namespace
  README.md
  lib/gem_generator/command.rb
Due: remark, rubocop

Add `git` initialization for generated gem
  lib/gem_generator/command.rb
Due: rubocop

Remove extra `project_` prefix for render variables, add readers for them
  lib/gem_generator/command.rb
  template/.toys.rb.erb
  template/README.md.erb
  template/gem_name.gemspec.erb
  template/lib/gem_path.rb.erb
  template/lib/gem_path/version.rb.erb
  template/spec/gem_path/version_spec.rb.erb
  template/spec/spec_helper.rb.erb
Due: rubocop

Fix typo in error about unknown author name and/or email
  lib/gem_generator/command.rb
Due: rubocop

Take out variables for render from `Command`
  gem_generator.gemspec
  lib/gem_generator/command.rb
  lib/gem_generator/render_variables.rb
Due: rubocop

Make `name` and `email` nested properties of `author` in config
  README.md
  lib/gem_generator/render_variables.rb
Due: remark, rubocop

Make CI matrix as Array
  template/.cirrus.yaml
Due: none

Wait for `bundle-audit` CI task before tests CI task
  template/.cirrus.yaml
Due: none

Allow Ruby 3 in gem specs
  gem_generator.gemspec
  template/gem_name.gemspec.erb
Due: rubocop

Remake `github_url` to `github_uri` and update gem specs
  lib/gem_generator/command.rb
  lib/gem_generator/render_variables.rb
  template/README.md.erb
  template/gem_name.gemspec.erb
Due: rubocop

Fail `remark` on any warning
  package.json
  template/package.json
Due: remark

Update development dependencies
  gem_generator.gemspec
  template/gem_name.gemspec.erb
Due: rubocop

Don't specify `latest` (default) Ruby image for CI
  .cirrus.yaml
  template/.cirrus.yaml
Due: none

Lock RuboCop version more strict
  gem_generator.gemspec
  template/gem_name.gemspec.erb
Due: rubocop

Ask for a gem summary and install dependencies
  lib/gem_generator/command.rb
  lib/gem_generator/render_variables.rb
  template/README.md.erb
  template/gem_name.gemspec.erb
Due: rubocop

Avoid Ruby 4 in gem specs
  gem_generator.gemspec
  template/gem_name.gemspec.erb
Due: rubocop

Update metadata in gemspec of the generator itself
  gem_generator.gemspec
Due: rubocop

Add `--indentation` option (tabs or spaces)
  lib/gem_generator/command.rb
  lib/gem_generator/render_variables.rb
  template/.editorconfig.erb
  template/.rubocop.yml.erb
Due: rubocop

Improve `bundle-audit` CI task script
  .cirrus.yaml
  template/.cirrus.yaml
Due: none

Update RuboCop to version 1.14
  gem_generator.gemspec
  template/gem_name.gemspec.erb
Due: rubocop

Remove `CODECOV_TOKEN` from Cirrus CI config
  template/.cirrus.yaml
  template/spec/spec_helper.rb.erb
Due: none

Update RuboCop
  gem_generator.gemspec
  template/gem_name.gemspec.erb
Due: rubocop
