Repository AlexWayfer/gem_generator: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  audit_script: bundle exec bundle-audit check --update

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  lint_script: bundle exec rubocop
  always:
    rubocop_artifacts:
      path: rubocop.json
  ...

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - bundle-audit
  - rubocop
  container:
    matrix:
    - image: ruby:2.6
    - image: ruby:2.7
  ...

Drop Ruby 2.6 and 2.7 support
  .cirrus.yaml
  .rubocop.yml
  gem_generator.gemspec
Due: remark, bundle-audit, rubocop, rspec

Update `project_generator` to a new version
  gem_generator.gemspec
Due: bundle-audit, rubocop, rspec

Change RSpec output format to `doc`
  .rspec
Due: rspec

Update version to 0.4.0
  CHANGELOG.md
  lib/gem_generator/version.rb
Due: remark, rubocop, rspec

Resolve new RuboCop offense
  gem_generator.gemspec
Due: bundle-audit, rubocop, rspec

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Move development dependencies from gemspec into Gemfile
  Gemfile
  gem_generator.gemspec
Due: bundle-audit, rubocop, rspec

Resolve new RuboCop offenses
  spec/gem_generator/command_spec.rb
Due: rubocop, rspec

Lock `rubocop-rspec` version stricter
  Gemfile
Due: bundle-audit, rubocop, rspec

Disable Renovate (open issue) dashboard
  renovate.json
Due: none

Add groups for Renovate
  renovate.json
Due: none

Remove Depfu badge from README
  README.md
Due: remark

Fix documentation about git templates
  README.md
Due: remark

Fix documentation about RSpec call
  README.md
Due: remark

Resolve new RuboCop offense
  lib/gem_generator/command/process_files/render_variables.rb
Due: rubocop, rspec

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Lock `rubocop-performance` version more strict
  Gemfile
Due: bundle-audit, rubocop, rspec

Resolve new RuboCop Performance offenses
  spec/gem_generator/command_spec.rb
Due: rubocop, rspec

Return `tab` style to `remark-lint-list-item-indent`
  .remarkrc.yaml
Due: remark

Note about common options from `project_generator` in README
  README.md
Due: remark

Improve specs about different indentation
  spec/gem_generator/command_spec.rb
Due: rubocop, rspec

Enable RSpec's `--only-fail` feature
  .gitignore
  spec/spec_helper.rb
Due: bundle-audit, rubocop, rspec

Update `project_generator` to 0.4.0
  gem_generator.gemspec
  spec/gem_generator/command_spec.rb
  spec/support/example_template/Gemfile
Due: bundle-audit, rubocop, rspec

Resolve new RuboCop offenses about `spec.add_runtime_dependency`
  gem_generator.gemspec
Due: bundle-audit, rubocop, rspec

Update version to 0.5.0
  CHANGELOG.md
  lib/gem_generator/version.rb
Due: remark, rubocop, rspec

Update RuboCop plugins and its configuration
  .rubocop.yml
  Gemfile
Due: bundle-audit, rubocop, rspec

Resolve new RuboCop offenses for RSpec
  spec/gem_generator/command_spec.rb
Due: rubocop, rspec

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Update Renovate configuration file
  renovate.json
Due: none

Path conditions:
  remark: any of: .cirrus.yaml, package.json, .remarkrc.yaml, **.md
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yaml, .gitignore, Gemfile, .rspec, *.gemspec, lib/**, spec/**
